.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  padding: 15px 10px;
  border-radius: 10px;
  /* border: 2px solid black; */
  text-align: end;
}

.score p {
  margin: 2px;
  font-family: pokemon;
  font-size: larger;
  letter-spacing: 2px;
}
