.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 25px;
  padding: 15px 10px;
}

.score p {
  margin: 2px;
  font-family: pokemon;
  font-size: large;
  letter-spacing: 2px;
}
