.selected.difficulty-btn {
  background-color: aqua;
  /* transform: scaleY(95%); */
  /* box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3); */
}

.difficulty-section {
  font-family: retro;
  display: flex;
  flex-direction: column;
}
