.difficulty-btn {
  padding: 10px 8px;
  border-radius: 10px;
  font-family: arcade;
}

.selected.difficulty-btn {
  background-color: aqua;
}

.difficulty-section {
  font-family: retro;
  display: flex;
  flex-direction: column;
}
