main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "pokemon";
  font-size: 72px;
  /* margin: 0px; */
}

header {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-family: arcade;
  max-width: 600px;
  font-size: 24px;
}

footer {
  min-height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.gameBoard {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

@font-face {
  font-family: "pokemon";
  src: url("../assets/fonts/pocket-monk-font/PocketMonk-15ze.ttf");
}

@font-face {
  font-family: "arcade";
  src: url("../assets/fonts/invasion2000/INVASION2000.TTF");
}
