@media (max-width: 640px) {
  header {
    flex-direction: column;
  }

  h1 {
    font-size: 64px;
  }

  header p {
    font-size: 18px;
  }

  .card {
    flex: 1;
    animation: none;
  }

  .score {
    padding: 5px 10px;
  }

  .score-difficulty {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 48px;
  }

  header p {
    font-size: 14px;
    padding: 0px 10px;
  }

  .score-difficulty {
    display: block;
  }
}
